/ best Pro Slider
%section.wow.bounceInUp.animated
	.best-pro.slider-items-products.container
		.new_title
			%h2 Best Seller
		#best-seller.product-flexslider.hidden-buttons
			.slider-items.slider-width-col4.products-grid
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p1.jpg"}/
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ Item
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p2.jpg"}/
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ End Item
				/ Item
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p3.jpg"}/
								.sale-label.sale-top-left Sale
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ End Item
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p4.jpg"}/
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ Item
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p5.jpg"}/
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ End Item
				/ Item
				.item
					.item-inner
						.item-img
							.item-img-info
								%a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
									%img{:alt => "Retis lapen casen", :src => "products-images/p6.jpg"}/
								.item-box-hover
									.box-inner
										.product-detail-bnt
											%a.button.detail-bnt
												%span Quick View
										.actions
											%span.add-to-links
												%a.link-wishlist{:href => "#", :title => "Add to Wishlist"}
													%span Add to Wishlist
												%a.link-compare.add_to_compare{:href => "#", :title => "Add to Compare"}
													%span Add to Compare
										.add_cart
											%button.button.btn-cart{:type => "button"}
												%span Add to Cart
						.item-info
							.info-inner
								.item-title
									%a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
								.item-content
									.rating
										.ratings
											.rating-box
												.rating{:style => "width:80%"}
											%p.rating-links
												%a{:href => "#"} 1 Review(s)
												%span.separator |
												%a{:href => "#"} Add Review
									.item-price
										.price-box
											%span.regular-price
												%span.price $125
				/ End Item
/ best Pro Slider