/ Logo Brand Block
.brand-logo.wow.bounceInUp.animated
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.testimonials-section
        %div
          %ul.bxslider
            %li
              .avatar
                %img{:alt => "Image", :src => "images/member1.png"}/
                .testimonials
                  %em "
                  Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.
                  %em "
                .clients_author
                  John Doe
                  %span Abc Company
              %li
                .avatar
                  %img{:alt => "Image", :src => "images/member2.png"}/
                  .testimonials
                    %em "
                    Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.
                    %em "
                  .clients_author
                    Saraha Smith
                    %span Datsun  Co
                %li
                  .avatar
                    %img{:alt => "Image", :src => "images/member3.png"}/
                    .testimonials
                      %em> "
                      Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.
                      %em "
                    .clients_author
                      Stephen Doe
                      %span Xperia Designs
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.offer-slider
        .left-coloum-hot
          .deal_img
            %img{:alt => "", :src => "images/hot_img.png"}
            .deal_info
              %h2
                %a{:href => "#"} Wall Pendent Lamp
              .starSeparator
              %p Nexus lighting store is updated regularly with offers.
              .rating
                .ratings
                  .rating-box
                    .rating{:style => "width:80%"}
                  %p.rating-links
                    %a{:href => "#"} 1 Review(s)
                    %span.separator |
                    %a{:href => "#"} Add Review
          .box-timer
            .countbox_1.timer-grid
