/ For version 1,2,3,4,6
.footer-banner
  .container
    .row
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.space
        .block1
          %strong New Arriavls
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %a{:href => "#"} Learn More
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.space.thumbnails
        .thumbnail_block
          %img{:alt => "", :src => "images/chair.jpg"}/
          .caption.hovered
            .caption-wrapper
              .caption-inner
                %h3 Top Collection
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                %p
                  %a{:href => "#"} View All
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.space
        .block2
          %strong Hot Deal
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %a{:href => "#"} Learn More
      .col-lg-3.col-md-3.col-sm-3.col-xs-12.space.thumbnails
        .thumbnail_block
          %img{:alt => "", :src => "images/app.jpg"}/
          .caption.hovered
            .caption-wrapper
              .caption-inner
                %h3 Nexus App
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                %p
                  %a{:href => "#"} Download
