%header
  #header
    .header-container.container
      .row
        .logo
          %a{:href => "index.html", :title => "Flavours HTML"}
            %div
              %img{:alt => "Flavours Store", :src => "images/logo.png"}/
        .fl-nav-menu
          %nav
            .mm-toggle-wrap
              .mm-toggle
                %i.icon-align-justify
                %span.mm-label Menu
            .nav-inner
              / BEGIN NAV
              %ul#nav.hidden-xs
                %li.mega-menu
                  %a.level-top{:href => "grid.html"}
                    %span Women
                  .level0-wrapper.dropdown-6col
                    .container
                      .level0-wrapper2
                        .col-1
                          .nav-block.nav-block-center
                            %ul.level0
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#.html"}
                                  %span Handbags
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#"}
                                      %span Clutch Handbags
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/diaper-bags.html"}
                                      %span Diaper Bags
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/bags.html"}
                                      %span Bags
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/hobo-handbags.html"}
                                      %span Hobo handbags
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#.html"}
                                  %span JACKETS
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/beaded-handbags.html"}
                                      %span Bathtime Goods
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/fabric-handbags.html"}
                                      %span Bedding
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/handbags.html"}
                                      %span Blankets
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/leather-handbags.html"}
                                      %span Shower Curtains
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#.html"}
                                  %span Shoes
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/flat-shoes.html"}
                                      %span Flat Shoes
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/flat-sandals.html"}
                                      %span Flat Sandals
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/boots.html"}
                                      %span Boots
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/heels.html"}
                                      %span Heels
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#.html"}
                                  %span Jwellery
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/bracelets.html"}
                                      %span Bracelets
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#"}
                                      %span Necklaces &amp; Pendent
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/pendants.html"}
                                      %span Pendants
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/pins-brooches.html"}
                                      %span Pins &amp; Brooches
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#.html"}
                                  %span Dresses
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/casual-dresses.html"}
                                      %span Casual Dresses
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/evening.html"}
                                      %span Evening
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/designer.html"}
                                      %span Designer
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/party.html"}
                                      %span Party
                              %li.level1.nav-6-1.parent.item
                                %a{:href => "#/swimwear.html"}
                                  %span Swimwear
                                %ul.level1
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/swimwear/swimsuits.html"}
                                      %span Swimsuits
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/swimwear/beach-clothing.html"}
                                      %span Beach Clothing
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/swimwear/clothing.html"}
                                      %span Clothing
                                  %li.level2.nav-6-1-1
                                    %a{:href => "#/swimwear/bikinis.html"}
                                      %span Bikinis
                        / nav-block nav-block-center
                        .col-2
                          .menu_image
                            %a{:href => "#", :title => ""}
                              %img{:alt => "menu_image", :src => "images/menu_image.png"}/
                      / level0-wrapper2
                %li.mega-menu
                  %a.level-top{:href => "grid.html"}
                    %span Men‎
                  .level0-wrapper.dropdown-6col
                    .container
                      .level0-wrapper2
                        .nav-block.nav-block-center
                          %ul.level0
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#.html"}
                                %span Shoes
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/sport-shoes.html"}
                                    %span Sport Shoes
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/casual-shoes.html"}
                                    %span Casual Shoes
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/leather-shoes.html"}
                                    %span Leather Shoes
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/canvas-shoes.html"}
                                    %span canvas shoes
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#.html"}
                                %span Dresses
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/casual-dresses.html"}
                                    %span Casual Dresses
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/evening.html"}
                                    %span Evening
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/designer.html"}
                                    %span Designer
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/party.html"}
                                    %span Party
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#.html"}
                                %span Jackets
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/coats.html"}
                                    %span Coats
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/formal-jackets.html"}
                                    %span Formal Jackets
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/leather-jackets.html"}
                                    %span Leather Jackets
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/blazers.html"}
                                    %span Blazers
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#.html"}
                                %span Watches
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/fasttrack.html"}
                                    %span Fasttrack
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/casio.html"}
                                    %span Casio
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/titan.html"}
                                    %span Titan
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/tommy-hilfiger.html"}
                                    %span Tommy-Hilfiger
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/sunglasses.html"}
                                %span Sunglasses
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/sunglasses/ray-ban.html"}
                                    %span Ray Ban
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/sunglasses/fasttrack.html"}
                                    %span Fasttrack
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/sunglasses/police.html"}
                                    %span Police
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/sunglasses/oakley.html"}
                                    %span Oakley
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/accesories.html"}
                                %span Accesories
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/accesories/backpacks.html"}
                                    %span Backpacks
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/accesories/wallets.html"}
                                    %span Wallets
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/accesories/laptops-bags.html"}
                                    %span Laptops Bags
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/accesories/belts.html"}
                                    %span Belts
                        / nav-block nav-block-center
                        .nav-add
                          .push_item
                            .push_img
                              %a{:href => "#"}
                                %img{:alt => "menu item 1", :src => "images/menu-img2.jpg"}/
                          .push_item
                            .push_img
                              %a{:href => "#"}
                                %img{:alt => "menu item 2", :src => "images/menu-img1.jpg"}/
                          .push_item
                            .push_img
                              %a{:href => "#"}
                                %img{:alt => "menu item 3", :src => "images/menu-img3.jpg"}/
                          .push_item.push_item_last
                            .push_img
                              %a{:href => "#"}
                                %img{:alt => "menu item 4", :src => "images/menu-img4.jpg"}/
                      / level0-wrapper2
                    / container
                  / level0-wrapper dropdown-6col
                  / mega menu
                %li.mega-menu
                  %a.level-top{:href => "grid.html"}
                    %span Electronics
                  .level0-wrapper.dropdown-6col
                    .container
                      .level0-wrapper2
                        .nav-block.nav-block-center
                          %ul.level0
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/mobiles.html"}
                                %span Mobiles
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobiles/samsung.html"}
                                    %span Samsung
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobiles/nokia.html"}
                                    %span Nokia
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobiles/iphone.html"}
                                    %span IPhone
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobiles/sony.html"}
                                    %span Sony
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#.html"}
                                %span Accesories
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobile-memory-cards.html"}
                                    %span Mobile Memory Cards
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/cases-covers.html"}
                                    %span Cases &amp; Covers
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/mobile-haedphones.html"}
                                    %span Mobile Headphones
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/bluetooth-headsets.html"}
                                    %span Bluetooth Headsets
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/cameras.html"}
                                %span Cameras
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/cameras/camcorders.html"}
                                    %span Camcorders
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/cameras/point-shoot.html"}
                                    %span Point &amp; Shoot
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/cameras/digital-slr.html"}
                                    %span Digital SLR
                                %li.level2.nav-6-1-1
                                  %a{:href => "#camera-accesories.html"}
                                    %span Camera Accesories
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/audio-video.html"}
                                %span Audio &amp; Video
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/audio-video/mp3-players.html"}
                                    %span MP3 Players
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/audio-video/ipods.html"}
                                    %span IPods
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/audio-video/speakers.html"}
                                    %span Speakers
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/audio-video/video-players.html"}
                                    %span Video Players
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/computer.html"}
                                %span Computer
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/external-hard-disk.html"}
                                    %span External Hard Disk
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/computer/pendrives.html"}
                                    %span Pendrives
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/computer/headphones.html"}
                                    %span Headphones
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/computer/pc-components.html"}
                                    %span PC Components
                            %li.level1.nav-6-1.parent.item
                              %a{:href => "#/home-appliances.html"}
                                %span Appliances
                              %ul.level1
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/vaccum-cleaners.html"}
                                    %span Vaccum Cleaners
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/indoor-lighting.html"}
                                    %span Indoor Lighting
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/kitchen-tools.html"}
                                    %span Kitchen Tools
                                %li.level2.nav-6-1-1
                                  %a{:href => "#/water-purifier.html"}
                                    %span Water Purifier
                      / level0-wrapper2
                %li.mega-menu
                  %a.level-top{:href => "grid.html"}
                    %span Furniture‎
                %li.level0.parent.drop-menu
                  %a{:href => "#"}
                    %span Pages
                  / sub sub category
                  %ul.level1
                    %li.level1.first
                      %a{:href => "grid.html"}
                        %span Product Grid
                    %li.level1.nav-10-2
                      %a{:href => "list.html"}
                        %span Product List
                    %li.level1.nav-10-3
                      %a{:href => "product-detail.html"}
                        %span Product Detail
                    %li.level1.nav-10-4
                      %a{:href => "shopping-cart.html"}
                        %span Cart Page
                    %li.level1.first.parent
                      %a{:href => "checkout.html"}
                        %span Checkout
                      / sub sub category
                      %ul.level2.right-sub
                        %li.level2.nav-2-1-1.first
                          %a{:href => "checkout-method.html"}
                            %span Method
                        %li.level2.nav-2-1-5.last
                          %a{:href => "checkout-billing-info.html"}
                            %span Billing Info
                      / sub sub category
                    %li.level1.nav-10-4
                      %a{:href => "wishlist.html"}
                        %span Wishlist
                    %li.level1
                      %a{:href => "dashboard.html"}
                        %span Dashboard
                    %li.level1
                      %a{:href => "multiple-addresses.html"}
                        %span Multiple Addresses
                    %li.level1
                      %a{:href => "about-us.html"}
                        %span About us
                    %li.level1.first.parent
                      %a{:href => "blog.html"}
                        %span Blog
                      / sub sub category
                      %ul.level2.right-sub
                        %li.level2.nav-2-1-1.first
                          %a{:href => "blog-detail.html"}
                            %span Blog Detail
                      / sub sub category
                    %li.level1
                      %a{:href => "contact-us.html"}
                        %span Contact us
                    %li.level1
                      %a{:href => "404error.html"}
                        %span 404 Error Page
                    %li.level1
                      %a{:href => "login.html"}
                        %span Login Page
                    %li.level1
                      %a{:href => "quickview.html"}
                        %span Quick View
                    %li.level1
                      %a{:href => "newsletter.html"}
                        %span Newsletter
                %li.fl-custom-tabmenulink.mega-menu
                  %a.level-top{:href => "#"}
                    %span Custom
                  .level0-wrapper.fl-custom-tabmenu
                    .container
                      .header-nav-dropdown-wrapper.clearer
                        .grid12-3
                          %div
                            %a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
                              %img{:alt => "Retis lapen casen", :src => "products-images/p6.jpg"}/
                          %h4
                            %a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
                          .rating
                            .ratings
                              .rating-box
                                .rating{:style => "width:80%"}
                              %p.rating-links
                                %a{:href => "#"} 1 Review(s)
                                %span.separator |
                                %a{:href => "#"} Add Review
                          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          .more_link Learn More
                        .grid12-3
                          %div
                            %a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
                              %img{:alt => "Retis lapen casen", :src => "products-images/p11.jpg"}/
                          %h4
                            %a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
                          .rating
                            .ratings
                              .rating-box
                                .rating{:style => "width:80%"}
                              %p.rating-links
                                %a{:href => "#"} 1 Review(s)
                                %span.separator |
                                %a{:href => "#"} Add Review
                          %p Sed et quam lacus. Fusce condimentum eleifend enim.
                          .more_link Learn More
                        .grid12-3
                          %div
                            %a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
                              %img{:alt => "Retis lapen casen", :src => "products-images/p14.jpg"}/
                          %h4
                            %a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
                          .rating
                            .ratings
                              .rating-box
                                .rating{:style => "width:80%"}
                              %p.rating-links
                                %a{:href => "#"} 1 Review(s)
                                %span.separator |
                                %a{:href => "#"} Add Review
                          %p Sed et quam lacus. Fusce condimentum eleifend enim.
                          .more_link Learn More
                        .grid12-3.last
                          %div
                            %a.product-image{:href => "product-detail.html", :title => "Retis lapen casen"}
                              %img{:alt => "Retis lapen casen", :src => "products-images/p9.jpg"}/
                          %h4
                            %a{:href => "product-detail.html", :title => "Retis lapen casen"} Retis lapen casen
                          .rating
                            .ratings
                              .rating-box
                                .rating{:style => "width:80%"}
                              %p.rating-links
                                %a{:href => "#"} 1 Review(s)
                                %span.separator |
                                %a{:href => "#"} Add Review
                          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          .more_link Learn More
              / nav
        / row
      .fl-header-right
        .fl-links
          .no-js
            %a.clicker{:title => "Company"}
            .fl-nav-links
              .language-currency
                .fl-language
                  %ul.lang
                    %li
                      %a{:href => "#"}
                        %img{:alt => "English", :src => "images/english.png"}/
                        %span English
                    %li
                      %a{:href => "#"}
                        %img{:alt => "French", :src => "images/francais.png"}/
                        %span French
                    %li
                      %a{:href => "#"}
                        %img{:alt => "German", :src => "images/german.png"}/
                        %span German
                / fl-language
                / END For version 1,2,3,4,6
                / For version 1,2,3,4,6
                .fl-currency
                  %ul.currencies_list
                    %li
                      %a{:href => "#", :title => "EGP"} £
                    %li
                      %a{:href => "#", :title => "EUR"} €
                    %li
                      %a{:href => "#", :title => "USD"} $
                / fl-currency
                / END For version 1,2,3,4,6
              %ul.links
                %li
                  %a{:href => "dashboard.html", :title => "My Account"} My Account
                %li
                  %a{:href => "wishlist.html", :title => "Wishlist"} Wishlist
                %li
                  %a{:href => "checkout.html", :title => "Checkout"} Checkout
                %li
                  %a{:href => "blog.html", :title => "Blog"}
                    %span Blog
                %li.last
                  %a{:href => "login.html", :title => "Login"}
                    %span Login
        .fl-cart-contain
          .mini-cart
            .basket
              %a{:href => "shopping-cart.html"}
            .fl-mini-cart-content
              .block-subtitle
                .top-subtotal
                  2 items,
                  %span.price $449.99
                / top-subtotal
                / pull-right
              / block-subtitle
              %ul#cart-sidebar.mini-products-list
                %li.item.first
                  .item-inner
                    %a.product-image{:href => "#l", :title => "timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White"}
                      %img{:alt => "timi & leslie Sophia Diaper Bag, Lemon Yellow/Shadow White", :src => "products-images/p4.jpg"}/
                    .product-details
                      .access
                        %a.btn-remove1{:href => "#", :title => "Remove This Item"} Remove
                        %a.btn-edit{:href => "#", :title => "Edit item"}
                          %i.icon-pencil
                          %span.hidden Edit item
                      / access
                      %strong 1
                      x
                      %span.price $179.99
                      %p.product-name
                        %a{:href => "product-detail.html"} Retis lapen casen
                %li.item.last
                  .item-inner
                    %a.product-image{:href => "#", :title => "JP Lizzy Satchel Designer Diaper Bag - Slate Citron"}
                      %img{:alt => "JP Lizzy Satchel Designer Diaper Bag - Slate Citron", :src => "products-images/p3.jpg"}/
                    .product-details
                      .access
                        %a.btn-remove1{:href => "#", :title => "Remove This Item"} Remove
                        %a.btn-edit{:href => "#", :title => "Edit item"}
                          %i.icon-pencil
                          %span.hidden Edit item
                      / access
                      %strong 1
                      x
                      %span.price $80
                      %p.product-name
                        %a{:href => "product-detail.html"} Retis lapen casen
              .actions
                %button.btn-checkout{:onclick => "window.location=checkout.html", :title => "Checkout", :type => "button"}
                  %span Checkout
                %button.view-cart{:onclick => "window.location=checkout.html", :title => "Checkout", :type => "button"}
                  %span View Cart
              / actions
            / fl-mini-cart-content
        / mini-cart
        .collapse.navbar-collapse
          %form.navbar-form{:role => "search"}
            .input-group
              %input#desktopSearchInput.GlobalNavSearch.js-globalSearchInput{"data-reactid" => ".1.0.0.0", :placeholder => "Search"}/
              %label.GlobalNavSearch-searchIcon{"data-reactid" => ".1.0.0.1", :for => "desktopSearchInput"}
        / links
