/ Mobile Menu
#mobile-menu
  %ul.mobile-menu
    %li
      .home
        %a{:href => "#"}
          %i.icon-home>
          Home
    %li
      %span.expand.fa.fa-plus
      %a{:href => "#"} Pages
      %ul
        %li
          %a{:href => "grid.html"} Grid
        %li
          %a{:href => "list.html"} List
        %li
          %a{:href => "product-detail.html"} Product Detail
        %li
          %a{:href => "shopping-cart.html"} Shopping Cart
        %li
          %span.expand.fa.fa-plus
          %a{:href => "checkout.html"} Checkout
          %ul
            %li
              %a{:href => "checkout-method.html"} Checkout Method
            %li
              %a{:href => "checkout-billing-info.html"} Checkout Billing Info
        %li
          %a{:href => "wishlist.html"} Wishlist
        %li
          %a{:href => "dashboard.html"} Dashboard
        %li
          %a{:href => "multiple-addresses.html"} Multiple Addresses
        %li
          %a{:href => "about-us.html"} About us
        %li
          %span.expand.fa.fa-plus
          %a{:href => "blog.html"} Blog
          %ul
            %li
              %a{:href => "blog-detail.html"} Blog Detail
        %li
          %a{:href => "contact-us.html"} Contact us
        %li
          %a{:href => "404error.html"} 404 Error Page
    %li
      %span.expand.fa.fa-plus
      %a{:href => "#"} Women
      %ul
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Stylish Bag
          %ul
            %li
              %a{:href => "#"} Clutch Handbags
            %li
              %a{:href => "#l"} Diaper Bags
            %li
              %a{:href => "#"} Bags
            %li
              %a{:href => "#"} Hobo handbags
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Material Bag
          %ul
            %li
              %a{:href => "#"} Beaded Handbags
            %li
              %a{:href => "#"} Fabric Handbags
            %li
              %a{:href => "#"} Handbags
            %li
              %a{:href => "#"} Leather Handbags
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Shoes
          %ul
            %li
              %a{:href => "#"} Flat Shoes
            %li
              %a{:href => "#"} Flat Sandals
            %li
              %a{:href => "#"} Boots
            %li
              %a{:href => "#"} Heels
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Jwellery
          %ul
            %li
              %a{:href => "#"} Bracelets
            %li
              %a{:href => "#"} Necklaces  Pendent
            %li
              %a{:href => "#l"} Pendants
            %li
              %a{:href => "#"} Pins  Brooches
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Dresses
          %ul
            %li
              %a{:href => "#"} Casual Dresses
            %li
              %a{:href => "#"} Evening
            %li
              %a{:href => "#"} Designer
            %li
              %a{:href => "#"} Party
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Swimwear
          %ul
            %li
              %a{:href => "#"} Swimsuits
            %li
              %a{:href => "#"} Beach Clothing
            %li
              %a{:href => "#"} Clothing
            %li
              %a{:href => "#"} Bikinis
    %li
      %span.expand.fa.fa-plus
      %a{:href => "#"} Men
      %ul
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Shoes
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Sport Shoes
            %li.level2.nav-6-1-1
              %a{:href => "#"} Casual Shoes
            %li.level2.nav-6-1-1
              %a{:href => "#"} Leather Shoes
            %li.level2.nav-6-1-1
              %a{:href => "#"} canvas shoes
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Dresses
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Casual Dresses
            %li.level2.nav-6-1-1
              %a{:href => "#"} Evening
            %li.level2.nav-6-1-1
              %a{:href => "#"} Designer
            %li.level2.nav-6-1-1
              %a{:href => "#"} Party
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Jackets
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Coats
            %li.level2.nav-6-1-1
              %a{:href => "#"} Formal Jackets
            %li.level2.nav-6-1-1
              %a{:href => "#"} Leather Jackets
            %li.level2.nav-6-1-1
              %a{:href => "#"} Blazers
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Watches
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Fasttrack
            %li.level2.nav-6-1-1
              %a{:href => "#"} Casio
            %li.level2.nav-6-1-1
              %a{:href => "#"} Titan
            %li.level2.nav-6-1-1
              %a{:href => "#"} Tommy-Hilfiger
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Sunglasses
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Ray Ban
            %li.level2.nav-6-1-1
              %a{:href => "#"} Fasttrack
            %li.level2.nav-6-1-1
              %a{:href => "#"} Police
            %li.level2.nav-6-1-1
              %a{:href => "#"} Oakley
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"} Accesories
          %ul.level1
            %li.level2.nav-6-1-1
              %a{:href => "#"} Backpacks
            %li.level2.nav-6-1-1
              %a{:href => "#"} Wallets
            %li.level2.nav-6-1-1
              %a{:href => "#"} Laptops Bags
            %li.level2.nav-6-1-1
              %a{:href => "#"} Belts
    %li
      %span.expand.fa.fa-plus
      %a{:href => "#"} Electronics
      %ul
        %li
          %span.expand.fa.fa-plus
          %a{:href => "#"}
            %spanMobiles
        %ul
          %li
            %a{:href => "#"}
              %span Samsung
          %li
            %a{:href => "#"}
              %span Nokia
          %li
            %a{:href => "#"}
              %span IPhone
          %li
            %a{:href => "#"}
              %span Sony
      %li
        %span.expand.fa.fa-plus
        %a{:href => "#"}
          %span Accesories
        %ul
          %li
            %a{:href => "#"}
              %span Mobile Memory Cards
          %li
            %a{:href => "#"}
              %span Cases  Covers
          %li
            %a{:href => "#"}
              %span Mobile Headphones
          %li
            %a{:href => "#"}
              %span Bluetooth Headsets
      %li
        %span.expand.fa.fa-plus
        %a{:href => "#"}
          %span Cameras
        %ul
          %li
            %a{:href => "#"}
              %span Camcorders
          %li
            %a{:href => "#"}
              %span Point  Shoot
          %li
            %a{:href => "#"}
              %span Digital SLR
          %li
            %a{:href => "#"}
              %span Camera Accesories
      %li
        %span.expand.fa.fa-plus
        %a{:href => "#"}
          %span Audio  Video
        %ul
          %li
            %a{:href => "#"}
              %span MP3 Players
          %li
            %a{:href => "#"}
              %span IPods
          %li
            %a{:href => "#"}
              %span Speakers
          %li
            %a{:href => "#"}
              %span Video Players
      %li
        %span.expand.fa.fa-plus
        %a{:href => "#"}
          %span Computer
        %ul
          %li
            %a{:href => "#"}
              %span External Hard Disk
          %li
            %a{:href => "#"}
              %span Pendrives
          %li
            %a{:href => "#"}
              %span Headphones
          %li
            %a{:href => "#"}
              %span PC Components
      %li
        %span.expand.fa.fa-plus
        %a{:href => "#"}
          %span Appliances
        %ul
          %li
            %a{:href => "#"}
              %span Vaccum Cleaners
          %li
            %a{:href => "#"}
              %span Indoor Lighting
          %li
            %a{:href => "#"}
              %span Kitchen Tools
          %li
            %a{:href => "#"}
              %span Water Purifier
  %li
    %a{:href => "#"} Furniture
  %li
    %a{:href => "#"} Kids
  %li
    %a{:href => "contact-us.html"} Contact Us
